In [59]:
import os
import subprocess
import numpy as np
import pandas as pd
import math
import matplotlib.patches as patches
import matplotlib.pylab as plt
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree
from sklearn import metrics
from sklearn import datasets
from sklearn import datasets
#from sklearn import cross_validation
from IPython.display import Image
from sklearn.grid_search import GridSearchCV
from sklearn.grid_search import RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from operator import itemgetter
from time import time
from prettytable import PrettyTable

In [7]:
data = pd.read_csv('Titanic.csv',header='infer',parse_dates=True, infer_datetime_format=True);

In [8]:
data = data.drop(['name','parch','ticket','fare','cabin','embarked','boat','body','home.dest'], axis=1)

In [9]:
data.count()

pclass      1309
survived    1309
sex         1309
age         1046
sibsp       1309
dtype: int64

In [10]:
df = data.dropna()

In [11]:
df.count()

pclass      1046
survived    1046
sex         1046
age         1046
sibsp       1046
dtype: int64

In [12]:
df

     pclass  survived     sex      age  sibsp
0       1st         1  female  29.0000      0
1       1st         1    male   0.9167      1
2       1st         0  female   2.0000      1
3       1st         0    male  30.0000      1
4       1st         0  female  25.0000      1
5       1st         1    male  48.0000      0
6       1st         1  female  63.0000      1
7       1st         0    male  39.0000      0
8       1st         1  female  53.0000      2
9       1st         0    male  71.0000      0
10      1st         0    male  47.0000      1
11      1st         1  female  18.0000      1
12      1st         1  female  24.0000      0
13      1st         1  female  26.0000      0
14      1st         1    male  80.0000      0
16      1st         0    male  24.0000      0
17      1st         1  female  50.0000      0
18      1st         1  female  32.0000      0
19      1st         0    male  36.0000      0
20      1st         1    male  37.0000      1
21      1st         1  female  47.0000      1
22      1st         1    male  26.0000      0
23      1st         1  female  42.0000      0
24      1st         1  female  29.0000      0
25      1st         0    male  25.0000      0
26      1st         1    male  25.0000      1
27      1st         1  female  19.0000      1
28      1st         1  female  35.0000      0
29      1st         1    male  28.0000      0
30      1st         0    male  45.0000      0
...     ...       ...     ...      ...    ...
1269    3rd         0    male  33.0000      0
1270    3rd         0    male  28.0000      0
1271    3rd         0    male  28.0000      0
1272    3rd         0    male  47.0000      0
1273    3rd         0  female  18.0000      2
1274    3rd         0    male  31.0000      3
1275    3rd         0    male  16.0000      2
1276    3rd         0  female  31.0000      1
1277    3rd         1    male  22.0000      0
1278    3rd         0    male  20.0000      0
1279    3rd         0  female  14.0000      0
1280    3rd         0    male  22.0000      0
1281    3rd         0    male  22.0000      0
1285    3rd         0    male  32.5000      0
1286    3rd         1  female  38.0000      0
1287    3rd         0    male  51.0000      0
1288    3rd         0    male  18.0000      1
1289    3rd         0    male  21.0000      1
1290    3rd         1  female  47.0000      1
1294    3rd         0    male  28.5000      0
1295    3rd         0    male  21.0000      0
1296    3rd         0    male  27.0000      0
1298    3rd         0    male  36.0000      0
1299    3rd         0    male  27.0000      1
1300    3rd         1  female  15.0000      1
1301    3rd         0    male  45.5000      0
1304    3rd         0  female  14.5000      1
1306    3rd         0    male  26.5000      0
1307    3rd         0    male  27.0000      0
1308    3rd         0    male  29.0000      0

[1046 rows x 5 columns]

In [77]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df['sex'] = lb.fit_transform(df['sex'])
df['pclass'] = lb.fit_transform(df['pclass'])

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [78]:
df

      pclass  survived  sex      age  sibsp
0          0         1    0  29.0000      0
1          0         1    1   0.9167      1
2          0         0    0   2.0000      1
3          0         0    1  30.0000      1
4          0         0    0  25.0000      1
5          0         1    1  48.0000      0
6          0         1    0  63.0000      1
7          0         0    1  39.0000      0
8          0         1    0  53.0000      2
9          0         0    1  71.0000      0
10         0         0    1  47.0000      1
11         0         1    0  18.0000      1
12         0         1    0  24.0000      0
13         0         1    0  26.0000      0
14         0         1    1  80.0000      0
16         0         0    1  24.0000      0
17         0         1    0  50.0000      0
18         0         1    0  32.0000      0
19         0         0    1  36.0000      0
20         0         1    1  37.0000      1
21         0         1    0  47.0000      1
22         0         1    1  26.0000      0
23         0         1    0  42.0000      0
24         0         1    0  29.0000      0
25         0         0    1  25.0000      0
26         0         1    1  25.0000      1
27         0         1    0  19.0000      1
28         0         1    0  35.0000      0
29         0         1    1  28.0000      0
30         0         0    1  45.0000      0
...      ...       ...  ...      ...    ...
1269       2         0    1  33.0000      0
1270       2         0    1  28.0000      0
1271       2         0    1  28.0000      0
1272       2         0    1  47.0000      0
1273       2         0    0  18.0000      2
1274       2         0    1  31.0000      3
1275       2         0    1  16.0000      2
1276       2         0    0  31.0000      1
1277       2         1    1  22.0000      0
1278       2         0    1  20.0000      0
1279       2         0    0  14.0000      0
1280       2         0    1  22.0000      0
1281       2         0    1  22.0000      0
1285       2         0    1  32.5000      0
1286       2         1    0  38.0000      0
1287       2         0    1  51.0000      0
1288       2         0    1  18.0000      1
1289       2         0    1  21.0000      1
1290       2         1    0  47.0000      1
1294       2         0    1  28.5000      0
1295       2         0    1  21.0000      0
1296       2         0    1  27.0000      0
1298       2         0    1  36.0000      0
1299       2         0    1  27.0000      1
1300       2         1    0  15.0000      1
1301       2         0    1  45.5000      0
1304       2         0    0  14.5000      1
1306       2         0    1  26.5000      0
1307       2         0    1  27.0000      0
1308       2         0    1  29.0000      0

[1046 rows x 5 columns]

In [79]:
X = df.drop(['survived'], axis=1).values
y = df['survived'].values

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.4)

In [81]:
print("THE SHAPE OF THE FEATURES (X) TRAIN SET IS")
print(X_train.shape)
print("\n")
print("THE SHAPE OF THE TARGET (y) TRAIN SET IS")
print(y_train.shape)
print("\n")


def getaccuracy(metrix):
    survivors_predicted_accuracy = float(metrix[1][1])/float(metrix[1][1]+ metrix[0][1])
    fatalities_predicted_accuracy = float(metrix[0][0])/float(metrix[0][0]+metrix[1][0])
    return survivors_predicted_accuracy, fatalities_predicted_accuracy

THE SHAPE OF THE FEATURES (X) TRAIN SET IS
(627, 4)


THE SHAPE OF THE TARGET (y) TRAIN SET IS
(627,)

In [82]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
nn=MLPClassifier(activation='logistic',solver='adam',hidden_layer_sizes=(2),random_state=17,alpha=0.1,max_iter=2000, warm_start=True)

In [83]:
nn.fit(X_train,y_train)

MLPClassifier(activation='logistic', alpha=0.1, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=2, learning_rate='constant',
       learning_rate_init=0.001, max_iter=2000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=17, shuffle=True,
       solver='adam', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=True)

In [84]:
y_train_predict = nn.predict(X_train)
#fig, axes = plt.subplots(4, 4)
# use global min / max to ensure all weights are shown on the same scale
#vmin, vmax = nn.coefs_[0].min(), nn.coefs_[0].max()
#for coef, ax in zip(nn.coefs_[0].T, axes.ravel()):
 #   ax.matshow(coef.reshape(2,1), cmap=plt.cm.gray, vmin=.5 * vmin,
#               vmax=.5 * vmax)
  #  ax.set_xticks(())
 #   ax.set_yticks(())

#plt.show()

In [85]:
in_sample = pd.DataFrame(list(zip(nn.predict(X_train), y_train)), columns=['predicted', 'actual'])
in_sample

     predicted  actual
0            1       1
1            1       1
2            0       0
3            1       1
4            0       0
5            0       0
6            0       0
7            0       0
8            0       1
9            0       1
10           0       0
11           0       1
12           0       0
13           1       1
14           0       0
15           1       1
16           1       1
17           1       1
18           1       1
19           0       1
20           0       0
21           1       1
22           1       1
23           0       0
24           0       0
25           1       1
26           0       0
27           0       1
28           1       1
29           1       1
..         ...     ...
597          1       1
598          0       0
599          1       1
600          0       1
601          0       0
602          0       0
603          0       0
604          0       0
605          1       1
606          0       0
607          0       0
608          0       0
609          0       0
610          1       0
611          0       0
612          0       1
613          0       0
614          0       1
615          1       1
616          0       0
617          0       0
618          0       0
619          1       0
620          0       0
621          0       1
622          1       1
623          1       0
624          0       0
625          0       0
626          0       0

[627 rows x 2 columns]

In [86]:
in_sample_survivor = in_sample[in_sample.actual == 1]
total_survivor = in_sample_survivor.count().actual
print("total_survivor == %.3f" %total_survivor)

in_sample_survivor_success = in_sample_survivor[in_sample_survivor.predicted == 1]
total_survivor_success = in_sample_survivor_success.count().actual
print("total_survivor_success == %.3f" %total_survivor_success)

in_sample_survivor_accuracy = total_survivor_success/ total_survivor
print("in_sample_survivor_accuracy == %.3f" %in_sample_survivor_accuracy )

total_survivor == 258.000
total_survivor_success == 173.000
in_sample_survivor_accuracy == 0.671

In [87]:
in_sample_fatalities = in_sample[in_sample.actual == 0]
total_fatalities = in_sample_fatalities.count().actual
print("total_fatalities == %.3f" %total_fatalities)

in_sample_fatalities_success = in_sample_fatalities[in_sample_fatalities.predicted == 0]
total_fatalities_success = in_sample_fatalities_success.count().actual
print("total_fatalities_success == %.3f" %total_fatalities_success)

in_sample_fatalities_accuracy = total_fatalities_success/ total_fatalities
print("in_sample_fatalities_accuracy == %.3f" %in_sample_fatalities_accuracy )

total_fatalities == 369.000
total_fatalities_success == 322.000
in_sample_fatalities_accuracy == 0.873

In [88]:
out_sample = pd.DataFrame(list(zip(nn.predict(X_test), y_test)), columns=['predicted', 'actual'])

In [89]:
out_sample_survivors = out_sample[out_sample.actual == 1]
out_total_survivors = out_sample_survivors.count().actual
print("out-total_survivors == %.3f" %out_total_survivors)

out_sample_survivors_success = out_sample_survivors[out_sample_survivors.predicted == 1]
out_total_survivors_success = out_sample_survivors_success.count().predicted
print("out_total_survivors_success == %.3f" %out_total_survivors_success)

out_sample_survivors_accuracy = out_total_survivors_success/ out_total_survivors
print("out_sample_survivors_accuracy == %.3f" %out_sample_survivors_accuracy )

out-total_survivors == 169.000
out_total_survivors_success == 119.000
out_sample_survivors_accuracy == 0.704

In [90]:
out_sample_fatalities = out_sample[out_sample.actual == 0]
out_total_fatalities = out_sample_fatalities.count().actual
print("out-total_fatalities == %.3f" %out_total_fatalities)

out_sample_fatalities_success = out_sample_fatalities[out_sample_fatalities.predicted == 0]
out_total_fatalities_success = out_sample_fatalities_success.count().actual
print("out_total_fatalities_success == %.3f" %out_total_fatalities_success)

out_sample_fatalities_accuracy = out_total_fatalities_success/ out_total_fatalities
print("out_sample_fatalities_accuracy == %.3f" %out_sample_fatalities_accuracy )

out-total_fatalities == 250.000
out_total_fatalities_success == 216.000
out_sample_fatalities_accuracy == 0.864

In [91]:
#comparison

q1 = PrettyTable()
q1.field_name = (["Comparision/Field1","In-sample survivors","In-sample fatalities","out-sample survivors","out-sample fatalities"])
q1.add_row(["MLPClassifier", "%0.3f"%in_sample_survivor_accuracy,"%0.3f"%in_sample_fatalities_accuracy,"%0.3f"%out_sample_survivors_accuracy,"%0.3f"%out_sample_fatalities_accuracy])
q1.add_row(['Pruned Tree','0.76','0.84','0.77','0.83'])
print (q1)

+---------------+---------+---------+---------+---------+
|    Field 1    | Field 2 | Field 3 | Field 4 | Field 5 |
+---------------+---------+---------+---------+---------+
| MLPClassifier |  0.671  |  0.873  |  0.704  |  0.864  |
|  Pruned Tree  |   0.76  |   0.84  |   0.77  |   0.83  |
+---------------+---------+---------+---------+---------+